aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
discord==1.7.3
discord.py==1.7.3
idna==3.3
libretranslatepy==2.1.1
lxml==4.9.1
multidict==6.0.2
psutil==5.9.0
pycparser==2.21
PyYAML==6.0
requests==2.27.1
six==1.16.0
translate==3.6.1
typing-extensions==4.0.1
urllib3==1.26.8
websockets==3.4
yarl==1.7.2
youtube-dl==2021.12.17
