# discord specific imports
from discord.ext import commands
import discord

# python imports

# third party imports

# kat specific imports
import utilities.KatCog as KatCog

class Cogname(KatCog.KatCog):
    def __init__(self, bot):
        super().__init__(bot)

        # cog specific startup code here

    # code here


    # possible overrides:
    # cog_unload(self): needs to call super().cog_unload() after cog specific unloading!
    # await cog_command_error(self, ctx, error)
    # await cog_before_invoke(self, ctx)

def setup(bot):
    bot.add_cog(Cogname(bot))